.course-intro {
  .rodal-close {
    right: unset;
    left: 16px;
    //   up: 16px;
    //   &::before,
    //   &::after {
    //       display: none;
    //   }
  }
  .videoBox:hover .p-button {
    opacity: 100% !important;
  }
  .videoBox:hover .v-overlay {
    opacity: 50% !important;
  }
}
