.post-body {
    h1 {
        font-size: 2em;
        font-weight: bolder;
    }
    h2 {
        font-size: 1.5em;
        font-weight: bolder;
    }
    h3 {
        font-size: 1.17em;
        font-weight: bolder;
    }
    h4 {
        font-size: 1em;
        font-weight: bolder;
    }
    h5 {
        font-size: 0.83em;
        font-weight: bolder;
    }
    h6 {
        font-size: 0.67em;
        font-weight: bolder;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 2.5rem;
    }
    p,
    span {
        line-height: 2.32rem;
    }
    img {
        text-align: center;
        margin: 10px auto;
    }
    ul {
        list-style-type: disc;
    }
}
