.icon {
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.z--10 {
    z-index: -10;
}

.card img {
    border-radius: 10px 80px 10px 10px;
}

.h-card img {
    border-radius: 10px 50px 10px 10px;
}